.list-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.bottom-p {
    display: flex;
    margin: 5px;
}

.bottom {
    margin-top: auto;
    border: 1px solid rgb(230, 230, 230);
    padding: 15px;
}

.sound-image {
    float: left;
}

.sound-ctrl {
    margin-top: -41px;
    margin-left: 6px;
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid #dddddd;
}

.sound {
    background-image: url('../img/sound.svg');
}

.sound-repeat {
    visibility: hidden;
    margin-left: 43px;
    background-image: url('../img/repeat.svg');
}

.sound-stat {
    visibility: hidden;
    float: right;
    margin-top: -43px;
    margin-right: 9px;
    font-size: 1.5em;
    color: #dddddd;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
